.title-wrapper {
  text-align: center;
}

.purple {
  color: purple;
}

.card {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.people-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 600px;
}

.person > i {
  display: none;
}

.show {
  display: inherit;
  color: black;
}

.people-container:hover > .person > i {
  color: purple;
}

.people-container > .person:hover ~ .person > i {
  color: black;
}

.note {
  text-align: center;
  margin-top: 15px;
}

.note > p {
  margin: 0px;
}

table {
  margin-top: 30px;
}

thead > tr:first-child > td {
  transform: rotate(270deg);
  text-align: center;
  height: 200px;
}

thead > tr:first-child > td:not(:first-child):not(:last-child),
thead > tr:nth-child(2) > th:not(:first-child):not(:last-child),
tbody > tr > td:not(:first-child):not(:last-child) {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}


thead > tr:nth-child(2) > th {
  background: rgba(189, 189, 189, 0.2);
  padding: 8px;
}

thead > tr:nth-child(2) > th > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px;
  padding: 5px;
  font-weight: normal;
}

tbody > tr > td:not(:first-child) {
  text-align: center;
  padding: 8px;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.table-footer > p:last-child {
  font-size: 10px;
}

.summary {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
