.purple {
  color: purple;
}

.card {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.people-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 600px;
}

.person > i {
  display: none;
}

.show {
  display: inherit;
  color: black;
}

.people-container:hover > .person > i {
  color: purple;
}

.people-container > .person:hover ~ .person > i {
  color: black;
}

.note {
  text-align: center;
  margin-top: 15px;
}

.note > p {
  margin: 0px;
}

thead > tr:first-child > td {
  transform: rotate(270deg);
  text-align: center;
  height: 200px;
}

thead > tr:first-child > td:not(:first-child):not(:last-child) {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

table:not(> thead:first-child) {
  border: 1px solid black;
}

thead > tr:nth-child(2) {
  background: rgba(189, 189, 189, 0.5);
}

thead > tr:nth-child(2) > th > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px;
  padding: 5px;
}
